{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "ie10": true,
            "chrome": 45
          },
          "uglify": true,
        }],
        "react"
      ],
      "plugins": [
        "add-module-exports",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-runtime",
        [
          "import",
          {
            "libraryName": "antd",
            "style": true
          }
        ]
       ],
       "comments": false
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "ie10": true,
            "chrome": 45
          },
          "uglify": true,
        }],
        "react"
      ],
      "plugins": [
        "add-module-exports",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-runtime",
        [
          "import",
          {
            "libraryName": "antd",
            "style": true
          }
        ]
       ],
       "comments": false
    },
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "ie10": true,
            "chrome": 45
          },
          "uglify": true,
        }],
        "react"
      ],
      "plugins": [
        "add-module-exports",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-runtime"
       ],
       "comments": false
    }
  }
}
